<header class="container">
    <nav class="navbar deskheader">
        <div class="container-fluid">
            <a class="navbar-brand logoregistraduria" href="#"
                aria-label="Logo Registraduría Nacional del Estado Civil"></a>

            <form class="searchbox" action="https://www.registraduria.gov.co/spip.php?page=buscar" method="get">
                <label for="buscar"></label>
                <input name="page" value="buscar" type="hidden" id="buscar">
                <label for="recherche"></label>
                <input class="searchinp" type="search" placeholder="Buscar" onfocus="this.placeholder = '&#39;&#39;'"
                    onblur="this.placeholder = '&#39;Buscar&#39;'" name="recherche" id="recherche">
                <input type="submit" class="ico-search" value="" title="">
            </form>

            <a class="openmen-desk" data-bs-toggle="offcanvas"
                href="https://www.registraduria.gov.co/-Historico-de-resultados-electorales-.html#offcanvasmenu"
                role="button" aria-controls="offcanvasmenu">
                <p class="txtopmen">Menú</p>
                <div class="ico-openmen"></div>
            </a>
        </div>
    </nav>

    <nav class="navbar mobheader">
        <div class="container-fluid">
            <a class="openmen-mob" data-bs-toggle="offcanvas"
                href="https://www.registraduria.gov.co/-Historico-de-resultados-electorales-.html#offcanvasmenu"
                role="button" aria-controls="offcanvasmenu" aria-label="Abrir menú"> </a>
            <!--             <a class="navbar-brand logoregistraduria" href="https://www.registraduria.gov.co"></a> -->
            <a class="navbar-brand logoregistraduria" href="https://www.registraduria.gov.co/"
                aria-label="Logo Registraduría Nacional del Estado Civil"></a>
            <div class="searchico"></div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasmenu" aria-labelledby="offcanvasmenu">
        <div class="offcanvas-header">
            <h2 class="title-menu">Menú</h2>
            <button type="button" class="btn-close text-reset close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>

        <form class="searchbox mobsearchbox" action="https://www.registraduria.gov.co/spip.php?page=buscar"
            method="get">
            <input name="page" value="buscar" type="hidden">
            <input class="searchinp" type="search" placeholder="Buscar" onfocus="this.placeholder = '&#39;&#39;'"
                onblur="this.placeholder = '&#39;Buscar&#39;'" name="recherche" id="recherche">
            <input type="submit" class="ico-search" value="" title="">
        </form>

        <!--MENU LATERAL-->
        <div class="offcanvas-body">

            <div class="accordion" id="seccppla">
                <!-- PRIMER NIVEL  -->
                <div class="accordion-menu">
                    <h2 class="accordion-header accordion-header-menu" id="sec0">
                        <button class="accordion-button-m" type="button">
                            <i data-bs-toggle="collapse" data-bs-target="#seccpplacollapseOne" aria-expanded="true"
                                aria-controls="seccpplacollapseOne"></i>
                            <a class="item-section" href="https://www.registraduria.gov.co/-Portada.html">Inicio </a>
                        </button>
                    </h2>
                </div>


                <div class="accordion" id="0seccppla-651">
                    <div class="accordion-menu">
                        <h2 class="accordion-header accordion-header-menu" id="seccppla651">
                            <button class="accordion-button-m" type="button">
                                <i class="fa-solid fa-plus" href="menu651" data-bs-toggle="collapse"
                                    data-bs-target="#menu651" aria-expanded="true" aria-controls="menu651"></i>
                                <a class="item-section"
                                    href="https://www.registraduria.gov.co/-Transparencia-y-acceso-a-la-informacion-.html">Transparencia
                                    y acceso
                                    a la información</a>
                            </button>
                        </h2>

                        <div id="menu651" class="accordion-collapse collapse" aria-labelledby="seccppla651"
                            data-bs-parent="#seccppla">
                            <div class="accordion-body">
                                <div class="accordion" id="0seccppla-670">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla670">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu670" data-bs-toggle="collapse"
                                                    data-bs-target="#menu670" aria-expanded="true"
                                                    aria-controls="menu670"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Quienes-somos-670-.html">Información
                                                    de
                                                    la entidad</a>
                                            </button>
                                        </h2>

                                        <div id="menu670" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla670" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">
                                                <a class="item-section" href="Entes-y-autoridades-vigilantes.html">Entes
                                                    y autoridades
                                                    vigilantes</a>

                                                <a class="item-section" href="Formulario-PQRSDC.html">Formulario
                                                    PQRSDC</a>

                                                <a class="item-section"
                                                    href="Directorio-de-entidades-2072.html">Directorio de
                                                    entidades</a>

                                                <a class="item-section"
                                                    href="Directorio-de-agremiaciones-o-asociaciones.html">Directorio
                                                    de agremiaciones o asociaciones</a>

                                                <a class="item-section"
                                                    href="Servicio-al-publico-normas-formularios-y-protocolos-de-atencion.html">Servicio
                                                    al
                                                    público, normas, formularios y protocolos de atención</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="0seccppla-4">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla4">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu4" data-bs-toggle="collapse"
                                                    data-bs-target="#menu4" aria-expanded="true"
                                                    aria-controls="menu4"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-normatividad-.html">Normativa</a>
                                            </button>
                                        </h2>

                                        <div id="menu4" class="accordion-collapse collapse" aria-labelledby="seccppla4"
                                            data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion" id="0seccppla-672">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla672">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu672" data-bs-toggle="collapse"
                                                    data-bs-target="#menu672" aria-expanded="true"
                                                    aria-controls="menu672"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Contratacion-672-.html">Contratación</a>
                                            </button>
                                        </h2>

                                        <div id="menu672" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla672" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">
                                                <a class="item-section"
                                                    href="Procedimientos-del-proceso-contractual.html">Procedimientos
                                                    del proceso contractual</a>
                                                <a class="item-section"
                                                    href="Publicacion-de-la-ejecucion-de-los-contratos.html">Publicación
                                                    de la ejecución de los contratos</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="accordion" id="0seccppla-777">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla777">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu777" data-bs-toggle="collapse"
                                                    data-bs-target="#menu777" aria-expanded="true"
                                                    aria-controls="menu777"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Planeacion-777-.html">Planeación</a>
                                            </button>
                                        </h2>

                                        <div id="menu777" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla777" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion" id="0seccppla-16">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla16">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu16" data-bs-toggle="collapse"
                                                    data-bs-target="#menu16" aria-expanded="true"
                                                    aria-controls="menu16"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Tramites-16-.html">Trámites</a>
                                            </button>
                                        </h2>

                                        <div id="menu16" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla16" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">
                                                <a class="item-section" href="Protocolo-de-atencion-1886.html">Protocolo
                                                    de atención</a>
                                                <a class="item-section" href="Portafolio-de-servicios.html">Portafolio
                                                    de servicios</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion" id="0seccppla-17">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla17">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu17" data-bs-toggle="collapse"
                                                    data-bs-target="#menu17" aria-expanded="true"
                                                    aria-controls="menu17"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Participa-.html">Participa</a>
                                            </button>
                                        </h2>

                                        <div id="menu17" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla17" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">



                                                <a class="item-section" href="Rendicion-de-cuentas-2509.html">Rendición
                                                    de cuentas</a>

                                            </div>
                                        </div>



                                    </div>



                                </div>
                                <div class="accordion" id="0seccppla-18">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla18">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu18" data-bs-toggle="collapse"
                                                    data-bs-target="#menu18" aria-expanded="true"
                                                    aria-controls="menu18"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Datos-abiertos-.html">Datos
                                                    abiertos</a>
                                            </button>
                                        </h2>

                                        <div id="menu18" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla18" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">



                                                <!-- 
                            <a class="item-section" href="RNEC-en-datos-gov-co.html">RNEC en datos.gov.co</a>
                        
                            <a class="item-section" href="Resolucion-de-tarifas-vigentes.html">Resolución de tarifas vigentes </a>
                        
                            <a class="item-section" href="Datos-abiertos-electorales.html">Datos abiertos electorales</a>
                         -->

                                            </div>
                                        </div>



                                    </div>



                                </div>
                                <!-- 
         
    
         
    
         
    
         
     -->
                                <div class="accordion" id="0seccppla-654">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla654">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu654" data-bs-toggle="collapse"
                                                    data-bs-target="#menu654" aria-expanded="true"
                                                    aria-controls="menu654"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Informacion-especifica-para-grupos-de-interes-.html">Información
                                                    específica para grupos de interés</a>
                                            </button>
                                        </h2>

                                        <div id="menu654" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla654" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">



                                                <!-- 
                            <a class="item-section" href="Portal-de-ninos-ninas-y-adolescentes.html">Portal de niños, niñas y adolescentes </a>
                        
                            <a class="item-section" href="Proceso-administrativo-de-Registro-Civil-para-adopcion-en-Colombia.html">Proceso administrativo de Registro Civil para adopción en Colombia</a>
                        
                            <a class="item-section" href="Primero-la-ninez.html">Primero la niñez</a>
                        
                            <a class="item-section" href="Concepcion-de-identidad-de-los-indigenas-JIW-y-NUKAK-2373.html">Concepción de identidad de los indígenas JIW y NUKAK</a>
                         -->

                                            </div>
                                        </div>



                                    </div>



                                </div>
                                <!-- 
         
     -->
                                <div class="accordion" id="0seccppla-675">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla675">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu675" data-bs-toggle="collapse"
                                                    data-bs-target="#menu675" aria-expanded="true"
                                                    aria-controls="menu675"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Obligacion-de-reporte-de-informacion-especifica-por-parte-de-la-entidad-675-.html">Obligación
                                                    de reporte de información específica por parte de la entidad</a>
                                            </button>
                                        </h2>

                                        <div id="menu675" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla675" data-bs-parent="#seccppla-651">
                                            <div class="accordion-body">



                                                <!-- 
                            <a class="item-section" href="Ofertas-de-empleo.html">Ofertas de empleo</a>
                         -->

                                            </div>
                                        </div>



                                    </div>



                                </div>



                            </div>
                        </div>



                    </div>



                </div>
                <!-- 
     
 -->
                <div class="accordion" id="0seccppla-652">
                    <div class="accordion-menu">
                        <h2 class="accordion-header accordion-header-menu" id="seccppla652">
                            <button class="accordion-button-m" type="button">
                                <i class="fa-solid fa-plus" href="menu652" data-bs-toggle="collapse"
                                    data-bs-target="#menu652" aria-expanded="true" aria-controls="menu652"></i>
                                <a class="item-section"
                                    href="https://www.registraduria.gov.co/-Atencion-y-servicio-a-la-ciudadania-.html">Atención
                                    y
                                    servicio a la ciudadanía</a>
                            </button>
                        </h2>

                        <div id="menu652" class="accordion-collapse collapse" aria-labelledby="seccppla652"
                            data-bs-parent="#seccppla">
                            <div class="accordion-body">



                                <div class="accordion" id="0seccppla-791">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla791">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu791" data-bs-toggle="collapse"
                                                    data-bs-target="#menu791" aria-expanded="true"
                                                    aria-controls="menu791"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Portafolio-de-servicios-791-.html">Portafolio
                                                    de
                                                    servicios</a>
                                            </button>
                                        </h2>

                                        <div id="menu791" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla791" data-bs-parent="#seccppla-652">
                                            <div class="accordion-body">





                                            </div>
                                        </div>



                                    </div>



                                </div>
                                <!-- 
     
 -->
                                <div class="accordion" id="0seccppla-919">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla919">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu919" data-bs-toggle="collapse"
                                                    data-bs-target="#menu919" aria-expanded="true"
                                                    aria-controls="menu919"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Carta-de-trato-digno-919-.html">Carta
                                                    de trato
                                                    digno</a>
                                            </button>
                                        </h2>

                                        <div id="menu919" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla919" data-bs-parent="#seccppla-652">
                                            <div class="accordion-body">



                                                <!-- 
                        <a class="item-section" href="Carta-de-trato-digno.html">Carta de trato digno</a>
                     -->

                                            </div>
                                        </div>



                                    </div>



                                </div>
                                <!-- 
     
 -->
                                <div class="accordion" id="0seccppla-788">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla788">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu788" data-bs-toggle="collapse"
                                                    data-bs-target="#menu788" aria-expanded="true"
                                                    aria-controls="menu788"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Protocolos-de-atencion-788-.html">Protocolos
                                                    de
                                                    atención</a>
                                            </button>
                                        </h2>

                                        <div id="menu788" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla788" data-bs-parent="#seccppla-652">
                                            <div class="accordion-body">



                                                <!-- 
                        <a class="item-section" href="Carta-de-trato-digno-2165.html">Carta de trato digno</a>
                     -->

                                            </div>
                                        </div>



                                    </div>



                                </div>

                                <!-- 
                        <a class="item-section" href="Atencion-y-servicio-a-poblacion-trans.html">Atención y servicio a población trans</a>
                     -->

                            </div>
                        </div>



                    </div>



                </div>
                <!-- 
     

     
 -->
                <div class="accordion" id="0seccppla-799">
                    <div class="accordion-menu">
                        <h2 class="accordion-header accordion-header-menu" id="seccppla799">
                            <button class="accordion-button-m" type="button">
                                <i class="fa-solid fa-plus" href="menu799" data-bs-toggle="collapse"
                                    data-bs-target="#menu799" aria-expanded="true" aria-controls="menu799"></i>
                                <a class="item-section"
                                    href="https://www.registraduria.gov.co/-Participa-799-.html">Participa</a>
                            </button>
                        </h2>

                        <div id="menu799" class="accordion-collapse collapse" aria-labelledby="seccppla799"
                            data-bs-parent="#seccppla">
                            <div class="accordion-body">



                                <!-- 
                        <a class="item-section" href="Encuesta-de-satisfaccion.html">Encuestas de satisfacción</a>
                    
                        <a class="item-section" href="Rendicion-de-cuentas-2547.html">Rendición de cuentas</a>
                     -->

                            </div>
                        </div>



                    </div>



                </div>

                <div class="accordion" id="0seccppla-653">
                    <div class="accordion-menu">
                        <h2 class="accordion-header accordion-header-menu" id="seccppla653">
                            <button class="accordion-button-m" type="button">
                                <i class="fa-solid fa-plus" href="menu653" data-bs-toggle="collapse"
                                    data-bs-target="#menu653" aria-expanded="true" aria-controls="menu653"></i>
                                <a class="item-section" href="https://www.registraduria.gov.co/-Mision-.html">Misión</a>
                            </button>
                        </h2>

                        <div id="menu653" class="accordion-collapse collapse" aria-labelledby="seccppla653"
                            data-bs-parent="#seccppla">
                            <div class="accordion-body">


                                <!-- 
     

     
 -->
                                <div class="accordion" id="0seccppla-798">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla798">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu798" data-bs-toggle="collapse"
                                                    data-bs-target="#menu798" aria-expanded="true"
                                                    aria-controls="menu798"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Identificacion-y-registro-civil-.html">Identificación
                                                    y registro civil</a>
                                            </button>
                                        </h2>

                                        <div id="menu798" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla798" data-bs-parent="#seccppla-653">
                                            <div class="accordion-body">



                                                <!-- 
                        <a class="item-section" href="Identificacion-2196.html">Identificación</a>
                    
                        <a class="item-section" href="Registro-civil-2197.html">Registro civil</a>
                     -->

                                            </div>
                                        </div>



                                    </div>



                                </div>

                                <div class="accordion" id="0seccppla-797">
                                    <div class="accordion-menu">
                                        <h2 class="accordion-header accordion-header-menu" id="seccppla797">
                                            <button class="accordion-button-m" type="button">
                                                <i class="fa-solid fa-plus" href="menu797" data-bs-toggle="collapse"
                                                    data-bs-target="#menu797" aria-expanded="true"
                                                    aria-controls="menu797"></i>
                                                <a class="item-section"
                                                    href="https://www.registraduria.gov.co/-Electoral-797-.html">Electoral</a>
                                            </button>
                                        </h2>

                                        <div id="menu797" class="accordion-collapse collapse"
                                            aria-labelledby="seccppla797" data-bs-parent="#seccppla-653">
                                            <div class="accordion-body">





                                            </div>
                                        </div>



                                    </div>



                                </div>



                            </div>
                        </div>



                    </div>
                </div>

            </div><!--accordion  id="seccppla"-->

            <!-- MENU ESPECIAL PARA SICE -->
            <div class="accordion" id="seccppla-sice">
                <div class="accordion-menu">
                    <h2 class="accordion-header accordion-header-menu" id="sec1">
                        <button class="accordion-button-m" type="button">
                            <i class="fa-solid fa-plus" href="idseccppla2" data-bs-toggle="collapse"
                                data-bs-target="#idseccppla-sice" aria-expanded="true" aria-controls="menu-sice"></i>
                            <a class="item-section"
                                href="https://www.registraduria.gov.co/sites/-Sistema-Integral-de-Capacitacion-Electoral-/">Capacitación
                                Electoral - SICE</a>
                        </button>
                    </h2>
                </div>
            </div>


            <!--Boucle especial para noticias -->

            <div class="accordion" id="seccppla2">
                <div class="accordion-menu">
                    <h2 class="accordion-header accordion-header-menu" id="sec1">
                        <button class="accordion-button-m" type="button">
                            <i class="fa-solid fa-plus" href="idseccppla2" data-bs-toggle="collapse"
                                data-bs-target="#idseccppla2" aria-expanded="true" aria-controls=""></i>
                            <a class="item-section"
                                href="https://www.registraduria.gov.co/-Noticias-y-comunicados-de-prensa-.html">Noticias
                                y
                                comunicados de prensa</a>
                        </button>
                    </h2>

                    <div id="idseccppla2" class="accordion-collapse collapse" aria-labelledby="sec1"
                        data-bs-parent="#seccppla">
                        <div class="accordion-body">

                            <a class="item-section" href="https://www.registraduria.gov.co/-2023-.html">2023</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2022-567-.html">2022</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2021-570-.html">2021</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2020-573-.html">2020</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2019-909-.html">2019</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2016-1311-.html">2016</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2015-1314-.html">2015</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2013-1330-.html">2013</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2008-1315-.html">2008</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2005-.html">2005</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2004-.html">2004</a>

                            <a class="item-section" href="https://www.registraduria.gov.co/-2003-.html">2003</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="citizens-servises">
                <h2 class="subtitle-menu">Servicios a la ciudadanía</h2>
                <ul class="cit-services">


                    <li class="item-services"><a class="a-normal linkservice icomin-tarjeta"
                            href="https://www.registraduria.gov.co/Agendamiento-de-citas-17.html">Agendamiento de
                            citas</a></li>

                    <li class="item-services"><a class="a-normal linkservice icomin-cedula"
                            href="https://www.registraduria.gov.co/Cedula-digital-18.html">Cédula digital</a></li>

                    <li class="item-services"><a class="a-normal linkservice icomin-lugar"
                            href="https://www.registraduria.gov.co/Lugar-de-votacion.html">Lugar de votación</a></li>

                    <li class="item-services"><a class="a-normal linkservice icomin-puntos-moviles"
                            href="https://www.registraduria.gov.co/Inscripcion-de-ciudadanos-4229.html">Inscripción de
                            ciudadanos</a></li>


                </ul>
            </div>
            <div class="quickaccess">



                <a class="a-normal btn-quick col-sm-12 col-lg-5 col-md-12 darkbluecol"
                    href="https://www.registraduria.gov.co/-Ayuda-.html">Ayuda</a>


            </div>
            <div class="socialet-off">
                <div class="socialnet-container">
                    <a class="socialnet facebook" href="https://www.facebook.com/RegistraduriaNacional/" target="_blank"
                        alt="facebook" title="facebook" aria-label="facebook">
                    </a>

                    <a class="socialnet twitter" href="https://twitter.com/Registraduria" target="_blank" alt="twitter"
                        title="twitter" aria-label="twitter">
                    </a>

                    <a class="socialnet youtube" href="https://www.youtube.com/user/RegistraduriaNal#" target="_blank"
                        alt="youtube" title="youtube" aria-label="youtube">
                    </a>

                    <a class="socialnet instagram" href="https://www.instagram.com/registraduria/" target="_blank"
                        alt="instagram" title="instagram" aria-label="instagram">
                    </a>

                    <a class="socialnet linkedin"
                        href="https://www.linkedin.com/company/registradur%C3%ADa-nacional-del-estado-civil/"
                        target="_blank" alt="linkedin" title="linkedin" aria-label="linkedin">
                    </a>

                    <a class="socialnet tiktok" href="https://www.tiktok.com/@registraduria" target="_blank"
                        alt="tiktok" title="tiktok" aria-label="tiktok">
                    </a>

                    <a class="socialnet kwai" href="http://s.kw.ai/u/@Registraduria/GIH90eCM" target="_blank" alt="kwai"
                        title="kwai" aria-label="kwai">
                    </a>
                </div>
            </div>
        </div>
        <div class="offcanvas-end">

        </div>
    </div>
</header>