<footer id="footer" style="margin-top:3%;">
    <div style="bottom: 130px;" class="contact">
      <div class="content">
        <nav class="menu">
          <a href="https://www.registraduria.gov.co/-Historico-de-resultados-electorales-.html#" class="item"
            onclick="openPage('#')" id="alice-Bot" title="Asistente Virtual"
            data-intro="Acceso a Alice Asistente virtual." data-position="left">
            <img
              src="./Histórico de resultados electorales - Registraduría Nacional del Estado Civil_files/alice-bot-min.gif"
              alt="logo-chatbot" title="Logo ChatBot" width="40px" height="30px">
            Chatbot
          </a>

          <a href="https://gestordocumental.registraduria.gov.co:4450/" class="item">
            <i class="icon fa fa-envelope-o" aria-hidden="true"></i>
            PQRSDC
          </a>
        </nav>
      </div>
    </div>
    <!-- CHAT-BOT -->
    <script type="text/javascript">
      function openPage(URL, width, height) {
        window.open(URL, 'windowOpenTab', 'scrollbars=NO,resizable=1,width=' + width + ',height=' + height + ',left=0, top=0');
      }
    </script>
    <!-- CHAT-BOT -->
    <!--BOTON ALICE-->

    <!--CERRAR-->
    <div class="container">
      <div class="row">
        <div class="disclamer col-lg-4 col-md-12 col-sm-12">
          <div class="logo-container">
            <a href="https://www.registraduria.gov.co/"><img
                src="https://www.registraduria.gov.co/squelettes/images/mainlogo-white.svg"
                alt="logo-rnec"></a>
          </div>

          <div class="socialnet-container">

            <a class="socialnet facebook" href="https://www.facebook.com/RegistraduriaNacional/" target="_blank"
              alt="facebook" title="facebook" aria-label="facebook">
            </a>

            <a class="socialnet twitter" href="https://twitter.com/Registraduria" target="_blank" alt="twitter"
              title="twitter" aria-label="twitter">
            </a>

            <a class="socialnet youtube" href="https://www.youtube.com/user/RegistraduriaNal#" target="_blank"
              alt="youtube" title="youtube" aria-label="youtube">
            </a>

            <a class="socialnet instagram" href="https://www.instagram.com/registraduria/" target="_blank"
              alt="instagram" title="instagram" aria-label="instagram">
            </a>

            <a class="socialnet linkedin"
              href="https://www.linkedin.com/company/registradur%C3%ADa-nacional-del-estado-civil/" target="_blank"
              alt="linkedin" title="linkedin" aria-label="linkedin">
            </a>

            <a class="socialnet tiktok" href="https://www.tiktok.com/@registraduria" target="_blank" alt="tiktok"
              title="tiktok" aria-label="tiktok">
            </a>

            <a class="socialnet kwai" href="http://s.kw.ai/u/@Registraduria/GIH90eCM" target="_blank" alt="kwai"
              title="kwai" aria-label="kwai">
            </a>
          </div>

        </div>
        <div class="menu-footer col-lg-4 col-md-12 col-sm-12">
          <p class="white"><i class="fa-solid fa-location-dot"></i> Av. Calle 26 n.º 51-50, CAN, Bogotá, Colombia.
            CP: 111321 </p>
          <p class="white"><i class="fa-solid fa-envelope"></i> Horario de atención correspondencia de lunes a
            viernes de 8:00 a. m. a 4:30 p. m. en jornada continua (Sede CAN av. calle 26 nº 51-50)</p>
          <p class="white"> <i class="fa-solid fa-phone"></i> Conmutador: +57 (601) 220 2880</p>
          <!-- <p class="white"> <i class="fa-solid fa-mobile"></i> Línea móvil: <b>305 7342003</b> y línea gratuita nacional: <b>018000 931026</b> de lunes a sábado de 8:00 a.m. a 5:00 p.m. </p> -->
          <p class="white"><i class="fa-solid fa-clock"></i> Centro de Atención e Información Ciudadana (CAIC):
            Carrera 7.ª n.º 32-12, Piso 2, local 205, Centro Comercial&nbsp;San&nbsp;Martín.<br>Horario: 8:00 a. m.
            a 4:00 p. m., en jornada continua </p>
          <p class="white"><i class="fa-solid fa-copyright"></i> Copyright 2022 - Todos los derechos reservados
            Registraduría Nacional del Estado Civil. </p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="content-footer">
            <div class="content-sections">
              <a href="https://www.registraduria.gov.co/Politicas-de-privacidad-y-condiciones-de-uso.html"
                target="_blank">
                <p class="white"> Políticas de privacidad</p>
              </a>
              <a href="https://correo.registraduria.gov.co/owa/auth/logon.aspx?replaceCurrent=1&amp;url=https%3a%2f%2fcorreo.registraduria.gov.co%2fowa"
                target="_blank">
                <p class="white"> Correo institucional</p>
              </a>
              <a href="https://www.office.com/" target="_blank">
                <p class="white"> Correo institucional (Office 365)</p>
              </a>
              <a href="http://translate.google.com/translate?sl=es&amp;tl=en&amp;u=http%3A%2F%2Fwww.registraduria.gov.co%2F"
                target="_blank">
                <p class="white"> Translate</p>
              </a>
              <a href="https://www.registraduria.gov.co/Politicas-de-privacidad-y-condiciones-de-uso.html"
                target="_blank">
                <p class="white"> Condiciones de uso</p>
              </a>
            </div>
            <div class="content-sections">
              <a href="https://www.registraduria.gov.co/?page=plan" target="_blank">
                <p class="white"> Mapa del sitio</p>
              </a>
              <a href="https://gestordocumental.registraduria.gov.co:4450/" target="_blank">
                <p class="white"> Contáctenos</p>
              </a>
            
              <a href="https://biblioteca.registraduria.gov.co/opac_css/" target="_blank">
                <p class="white"> Biblioteca</p>
              </a>
              <a href="https://intranet.registraduria.gov.co/" target="_blank">
                <p class="white"> Intranet</p>
              </a>
            </div>
            <div class="content-sections">
              <a href="https://wsp.registraduria.gov.co/normatividad/" target="_blank">
                <p class="white"> Normativa</p>
              </a>
              <a href="https://www.registraduria.gov.co/-Procedimientos-150-.html" target="_blank">
                <p class="white"> Correos judiciales</p>
              </a>
              <a href="https://gestordocumental.registraduria.gov.co:4450/" target="_blank">
                <p class="white"> PQRSDC</p>
              </a>
              <a href="https://www.registraduria.gov.co/Glosario.html" target="_blank">
                <p class="white"> Glosario</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row bar-footer">
        <div class="col-6">
          <p class="white">
            oData version: 1.0.0
          </p>
        </div>
        <div class="col-6">
          <p class="white">Recomendado uso de <i class="fa-brands fa-chrome"></i> <a class="white"
              href="https://www.google.com/chrome/browser/desktop/index.html"><i class="icon-chrome"></i> Google
              Chrome </a></p>
        </div>
      </div>
    </div>
  </footer>