<h4>PROCESO ELECTORAL PRESIDENCIAL [NIVEL NACIONAL]</h4>
<div class="container">
  <div class="row">
    <div class="col">VIGENCIA</div>
    <div class="col">PROCESO ELECTORAL</div>
    <div class="col">TIPO DE DOCUMENTO</div>
    <div class="col">ESCRUTINIO</div>
    <div class="col">OTRO DOCUMENTO</div>
    <div class="col">OTRO DOCUMENTO</div>
    <div class="col">OTRO DOCUMENTO</div>
  </div>

  <div class="row">
    <div class="col">
      <strong>2022</strong>
    </div>
    <div class="col">
      <strong>Segunda Vuelta</strong><br>
      <small>Elección de Presidente y Vicepresidente </small><br>
      <strong class="date-results">19 de junio</strong>
    </div>
    <div class="col">
      <a href="https://presidente2v2022.registraduria.gov.co/visualizarDoc" target="_blank">ACTA GENERAL DEL ESCRUTINIO (AGE)</a>
    </div>
    <div class="col">
      <a href="#">ACTA DEL ESCRUTINIO GENERAL (E-26)</a>
    </div>
    <div class="col">
      <a href="#">ACTA DEL ESCRUTINIO GENERAL (E-26)</a>
    </div>
    <div class="col">
      <a href="#">RESULTADOS DEL ESCRUTIONO (E-24)</a>
    </div>
    <div class="col">
      <a href="#">DATA PROCESO ELECTORAL</a>
    </div>
  </div>
</div>
<br />
<h4>PROCESO ELECTORAL DEPARTAMENTAL [NIVEL ESPECIFICO]</h4>
<div class="container">
  <div class="row">
    <i class="fa fa-map-marker">&nbsp;</i><h4>DEPARTAMENTO</h4>
    <select class="custom-select selectDepartment">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="row">
    <div class="col">VIGENCIA</div>
    <div class="col">PROCESO ELECTORAL</div>
    <div class="col">TIPO DE DOCUMENTO</div>
    <div class="col">ESCRUTINIO</div>
    <div class="col">OTRO DOCUMENTO</div>
    <div class="col">OTRO DOCUMENTO</div>
    <div class="col">OTRO DOCUMENTO</div>
  </div>

  <div class="row">
    <div class="col">
      <strong>2022</strong>
    </div>
    <div class="col">
      <strong>Segunda Vuelta</strong><br>
      <small>Elección de Presidente y Vicepresidente </small><br>
      <strong class="date-results">19 de junio</strong>
    </div>
    <div class="col">
      <a href="https://presidente2v2022.registraduria.gov.co/visualizarDoc" target="_blank">ACTA GENERAL DEL ESCRUTINIO (AGE)</a>
    </div>
    <div class="col">
      <a href="#">ACTA DEL ESCRUTINIO GENERAL (E-26)</a>
    </div>
    <div class="col">
      <a href="#">ACTA DEL ESCRUTINIO GENERAL (E-26)</a>
    </div>
    <div class="col">
      <a href="#">RESULTADOS DEL ESCRUTIONO (E-24)</a>
    </div>
    <div class="col">
      <a href="#">DATA PROCESO ELECTORAL</a>
    </div>
  </div>
</div>