<div style="margin-top: 90px;">
    <div class="ajaxbloc"
      data-ajax-env="IN2te6TnMTG5cSJJo9nxlEtBdH3BeOkjx76c/TlaA2OYVQY5Zplnsje8WPPpWnFaXGh2XxqmcyqJKLfnrfDcAYaQQLqgoLk0yoChvLZTTG0XO+Fhv3dkAnJMFCWQgoEjLgC2/R43gRR7wPIDyqGLUY93IgDKHIhUSoca1dmaWGLFrzEU83iCUxUiSPRYqRBw"
      data-origin="-Historico-de-resultados-electorales-.html">

      <div id="services" class="container">
        <div class="services_module">
          <h2 class="title-services">Servicios a la ciudadanía</h2>

          <a class="crayon article-texte-17 service-link col-6 col-lg-3"
            href="https://agenda.registraduria.gov.co/agenda/index.php" target="_blank">
            <div class="icon-service icotarjeta"></div>
            <h4 class="crayon article-titre-17 title-service">Agendamiento de citas</h4>
          </a>

          <a class="crayon article-texte-18 service-link col-6 col-lg-3"
            href="https://ceduladigital.registraduria.gov.co/index" target="_blank">
            <div class="icon-service icocedula"></div>
            <h4 class="crayon article-titre-18 title-service">Cédula digital</h4>
          </a>

          <a class="crayon article-texte-19 service-link col-6 col-lg-3"
            href="https://wsp.registraduria.gov.co/censo/consultar" target="_blank">
            <div class="icon-service icolugar"></div>
            <h4 class="crayon article-titre-19 title-service">Lugar de votación</h4>
          </a>

          <a class="crayon article-texte-4229 service-link col-6 col-lg-3"
            href="https://www.registraduria.gov.co/?page=consulta-PMI" target="_blank">
            <div class="icon-service icopuntos-moviles"></div>
            <h4 class="crayon article-titre-4229 title-service">Inscripción de ciudadanos</h4>
          </a>

        </div>
      </div>
    </div>
  </div>
