<div class="container">
    <div class="row fixed-bottom container-buttons">
      <ul class="buttons">
        <li class="buttons-section-r col-4"><a class="a-normal button-link active-button"
            href="https://www.registraduria.gov.co/-Portada-.html"><img
              src="https://www.registraduria.gov.co/squelettes/images/icon-institucional-azul.svg"
              alt="Institucional" title="Icono institucional">Institucional</a></li>
        <li class="buttons-section-r col-4"><a class="a-normal button-link"
            href="https://www.registraduria.gov.co/-Portafolio-de-servicios-791-.html"><img
              src="https://www.registraduria.gov.co/squelettes/images/icon-servicios-verde.svg"
              alt="Servicios ciudadanía" title="Icono servicios ciudadanía">Servicios a la ciudadanía</a></li>
        <li class="buttons-section-r col-4"><a class="a-normal button-link" href="https://ainteractivo.net/cedaesite/"
            target="blank"><img
              src="https://www.registraduria.gov.co/squelettes/images/icon-cedae-verde.svg"
              alt="CEDAE" title="Portal CEDAE">CEDAE (Datos para la democracia)</a></li>
      </ul>
    </div>
  </div>
