<div class="container" id="contents">
    <div class="row">
      <div class="col 12 breaddesk">
        <div class="breadcrumscontainer breaddesk" id="breadcrumbs">
          <div class="ajaxbloc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="a-normal"
                    href="https://www.registraduria.gov.co/-Portada.html">Inicio</a></li>

                <li class="breadcrumb-item   ">
                  <a class="a-normal" href=""> Misión</a>
                </li>
                <li class="breadcrumb-item   ">
                  <a class="a-normal" href="https://www.registraduria.gov.co/-Electoral-797-.html"> Electoral</a>
                </li>
                <li class="breadcrumb-item active">Histórico de resultados electorales</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>

      <!--LAWS SEARCH--->
      <div class="searchlaws-cotainer">
        <!--BANNER TEXT MOBILE-->
        <div class="row text-mobile" id="text-intro-mobile">
          <div class="col-12">
            <p class="text-mobile-para"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="maincollumn col-lg-8 col-md-8 col-sm-12">
        <div class="image-module">
          <div
            class="spip_document_2571 spip_document spip_documents spip_document_image spip_documents_center spip_document_center ">
            <figure class="spip_doc_inner">

              <a href="https://www.registraduria.gov.co/IMG/jpg/8q0a4744-4_-_copia.jpg"
                class="spip_doc_lien mediabox" type="image/jpeg">
                <img
                  src="https://www.registraduria.gov.co/IMG/jpg/8q0a4744-4_-_copia.jpg"
                  width="5160" height="2424" alt=""></a>
            </figure>
          </div>
        </div>
        <h1>Histórico de resultados electorales</h1>
        <p>El presidente y el vicepresidente de la República de Colombia, los miembros del Congreso (en el orden
          nacional), los alcaldes, los gobernadores, los concejales, los diputados y los miembros de Juntas
          Administradoras Locales (en el orden municipal y departamental) son elegidos por voto popular.</p>
        <ul class="spip">
          <li> Presidente y vicepresidente de la República son elegidos en una misma fórmula, cada cuatro años, a
            dos vueltas.</li>
        </ul>
        <ul class="spip">
          <li> Los senadores, en circunscripción nacional, y representantes, en circunscripción territorial, son
            elegidos por el sistema de cociente electoral, cada cuatro años.</li>
        </ul>
        <ul class="spip">
          <li> En el Senado, dos curules adicionales corresponden a la circunscripción especial indígena, mientras
            que en la Cámara tres corresponden a la circunscripción especial para minorías étnicas y dos para la de
            colombianos en el exterior.</li>
        </ul>
        <ul class="spip">
          <li> Alcaldes, gobernadores, concejales, diputados y miembros de Juntas Administradoras Locales son
            elegidos para periodos de cuatro años en sus respectivas circunscripciones territoriales.
          </li>
        </ul>
      </div>
    </div>
    
    <!-- TABLA DE DOCUMENTOS -->
    <div class="table-responsive">
      <app-documents-table></app-documents-table>
    </div>
    <div class="image-module">
      <a href="https://www.registraduria.gov.co/Datos-abiertos-181.html">
        <img
          src="https://www.registraduria.gov.co/IMG/png/descargue_aqui_historico.png">
      </a>
    </div>
    <!-- TABLA A REDISEÑAR -->

    <!-- SUBMENU -->
    <app-right-menu></app-right-menu>
    <!-- SUBMENU -->
</div>